
body.home-front {
  font-family: 'Oswald', sans-serif;
  background: url('/assets/bkg.png') no-repeat top center #197981;
  color: white;
  text-transform: uppercase;
}
.home-front {
  header {
    background: white;
    width: 100%;
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-inner{
    background: white;
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: #888;
    .nav {
      margin-top: 14px;
    }
  }

  .konsta{
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    img {
      display: block;
      position: relative;
      z-index: 0;
      margin: 0 auto;
      padding-top: 40px;
    }
    p {
      z-index:1;
      position: absolute;
      z-index: 1;
      width: 150px;
      top: 228px;
      right: 174px;
      font-size: 14px;
      color: #ddd;

    }
  }
  h1 {
    color: #F8C552;
    font-size: 25px;
    width: 630px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 18px;

    span {
      color: white;
      font-size: 45px;
    }
    span.date {
      font-size: 28px;
    }
  }
  h2 {
    font-size: 20px;
    span { font-size: 22px; }
  }
  #payment-form {
    .control-group {
      background: white;
      input {
        border: none;
      }
    }
    &.form-horizontal label.control-label {
      padding-top: 10px;
    }
    input {
      padding: 12px 4px
    }
    select {
      margin: 12px 0;
    }
    .button {
      background: none;
      .submit-button {
        background:#F8C552;
        border: none;
        width: 100%;
        font-size: 22px;
        padding: 11px;
        text-transform: uppercase;
        span {
          background: url('/assets/star.png') no-repeat center center;
          display: inline-block;
          height: 15px;
          width: 14px;
        }
      }
    }

  }



  #rewards {
    padding-top: 10px;
    h4 {
      color: #F8C552;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .description {
      margin-bottom: 50px;
      font-size: 16px;
    }
  }

  footer {
    margin-top:20px;
    padding: 5px 5px;
    color: gray;
    font-size: 12px;
    background: white;
    p {
      margin-top: 9px;
      margin-left: 10px;
      letter-spacing: 1px;
      word-spacing: 2px;
    }

  }
}

.buy {
  position: relative;
}
.over {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: none;
  p {
    padding-top: 50%;
  }
}
.social {
  text-align: center;
  margin-bottom: 30px;
}
