
body.home-front {
  font-family: 'Oswald', sans-serif;
  background: url('/assets/bkg.png') no-repeat top center #197981;
  color: white;
  text-transform: uppercase;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}
footer, #push {
  height: 42px; /* .push must be the same height as .footer */
}

.home-front {
  header {
    background: white;
    width: 100%;
  }
  .navbar {
    margin-bottom: 0;
  }
  .navbar-inner{
    background: white;
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: #888;
    .nav {
      font-weight: 300;
      margin-top: 3px;
    }
    .blog-btn {
      background: none repeat scroll 0 0 #F8C853;
      color: black;
      font-size: 14px;
      margin-top: 4px;
      padding: 5px 0;
      text-align: center;
      width: 50px;
      &:hover {
        background: #f8C853;
        color: white;
      }
    }
  }

  .konsta{
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    img {
      display: block;
      position: relative;
      z-index: 0;
      margin: 0 auto;
      padding-top: 40px;
    }
    .box {
      z-index:1;
      position: absolute;
      z-index: 1;
      width: 145px;
      top: 184px;
      right: 170px;
      h1 {
        font-size: 23px;
        color: #F8C653;
        text-align: left;
        font-weight: 300;
        width: auto;
        line-height: 23px;
        span {
          font-size: 20px;
          color: inherit;
          font-weight: inherit;
          padding: 0;
        }
      }
      img {
        margin:0;
        padding:0;
      }


    }
  }
  h1 {
    color: #F8C552;
    font-size: 25px;
    width: 660px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 18px;
    font-weight: normal;

    span {
      color: white;
      font-size: 45px;
      font-weight: bold;
      padding: 0 10px;
    }
    span.date {
      font-size: 28px;
      font-weight: normal;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: normal;
    span { font-size: 22px; font-weight: bold; }
  }
  #payment-form {
    .control-group {
      background: white;
      input {
        border: none;
      }
    }
    &.form-horizontal label.control-label {
      padding-top: 10px;
      width: 132px;
    }
    .controls {
      margin-left: 140px;
    }
    input {
      padding: 12px 4px
    }
    select {
      margin: 12px 0;
    }
    .button {
      background: none;
      .submit-button {
        background:#F8C552;
        border: none;
        width: 100%;
        font-size: 22px;
        padding: 11px;
        text-transform: uppercase;
        span {
          background: url('/assets/star.png') no-repeat center center;
          display: inline-block;
          height: 15px;
          width: 14px;
        }
      }
    }

  }



  .rewards-push {
    margin-left: 50px;
  }
  #rewards {
    margin-left: 25px;
    margin-right: -25px;
    background: #015f64;
    padding: 15px 15px;
    position: relative;

    h4 {
      color: #F8C552;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 0;
    }
    .description {
      margin-bottom: 25px;
      font-size: 16px;
    }
    &:before
    {
      content: '';
      position: absolute;
      top: 144px;
      left: -12px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 13px solid #015f64;
      width: 0;
      height: 0;
    }
  }

  footer {
    height: 40px;
    padding: 5px 5px;
    color: gray;
    font-size: 12px;
    background: white;
    p {
      margin-top: 9px;
      margin-left: 10px;
      letter-spacing: 1px;
      word-spacing: 2px;
      font-weight: 300;
    }

  }
}

.buy {
  position: relative;
}
.over {
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: none;
  p {
    padding-top: 50%;
  }
}
.social {
  text-align: center;
  margin-bottom: 30px;
}

.post {
  padding-top: 20px;
  border-bottom: 1px solid #005A5F;
  -moz-box-shadow: 0px 1px 0px #009097;
  -webkit-box-shadow: 0px 1px 0px #009097;
  box-shadow: 0px 1px 0px #009097;
  h1 {
    text-align: left;
    width: 100%;
    font-size: 30px;
  }
  .body {
    text-transform: none;
    font-family: 'trebuchet ms';
    p {
      a {
        color: rgb(247, 212, 122);
        &:hover {
          color: rgb(247, 212, 122)
        }
      }
    }
  }
}

.ribbon {
  display: block;
  img { display: block;}
  position: absolute;
  z-index: 2;
  top: 43px;
  right: 0;
}
.expiration-date {
  select#expires_on_1i {
    width: 70px;
  }
  select#expires_on_2i{
    float: left;
    width: 55px;
    margin-right: 5px;
  }

}

.backers-share {
  display: none;
}
